<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
      <div class="jumbotron">
        <h1 class="display-4">welcome to Eventime</h1>
        <p class="lead">The social network for events.</p>
        <hr class="my-4">
        <p>Publish events your'e attending, find events that intrest you and meet up with friends.</p>
      </div>
    </div>
  </div>
