<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
      <div class="jumbotron">
        <h1 class="display-4">Eventime</h1>
        <p class="lead">The social network for events.</p>
        <hr class="my-4">
        <p>Publish events your'e attending, find events that intrest you and meet up with friends.</p>

        <%if !current_user.present?%>
          <div class="alert alert-warning"><%= flash[:notice] %></div>
        <%= link_to '<button type="button" class="btn btn-primary mt-2">Join Now</button>'.html_safe, new_user_path %>
        <p class ="mt-2">Already have an account? <%=link_to "Login", login_path%></p>
        <%end%>
      </div>
    </div>
  </div>
