<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title pb-3 text-center"><%=@user.name%></h5>
        <p><%=@user.about%></p>
      </div>
    </div>
  <%if @user = current_user %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title pb-3 text-center">Your Upcoming Events</h5>
        <ul class="list-group">
          <%@attending.each do |event| %>
            <li class="list-group-item"><%=link_to event.title, event_path(event)%></li>
          <%end%>
        </ul>
      </div>
    </div>
    <%end%>
  </div>
