<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title pb-3 text-center">Edit Your Profile</h5>
          <%= render 'edit_form' %>
        </div>
      </div>
    </div>
  </div>
